$font-deep: #2a2a2a;
$font-light: #686868;
$font-main: #d3995f;

$bg-deep: #292929;

.hide {
  display: none;
}

.clearfix::before,.clearfix::after{
    content: '';
    display: table;
}

.clearfix:after {
  clear: both;
}

@mixin single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
