.header{
    height: 30px;
    background: $bg-deep;
    color: #fff;
    line-height: 30px;
    a{
        color: #fff;
    }
    .header-inner{
        margin: 0 auto;
        width: 1170px;
    }
    .header-left{
        float: left;
        span{
            margin-right: 30px;
        }
    }
    .header-right{
        float: right;
        a{
            display: inline-block;
            height: 30px;
            margin-left: 30px;
            transition: all .3s;
            &:hover{
                color: $font-main;
            }
        }
        .share{
            margin-left: 24px;
        }
    }
}
